MONGODB_URI="mongodb+srv://Arucard:Jeffrey100@cluster0.jhhmvwx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SOLANA_RPC_URL="https://api.devnet.solana.com"                                                                                                                                     
SESSION_SECRET=your_very_strong_random_secret_password_at_least_32_characters_long
ADMIN_USERNAME=Arkyan
ADMIN_DEFAULT_PASSWORD=planetWhiskeyNfts2025
PINATA_API_KEY=358ccccf0244a4944980
PINATA_SECRET_API_KEY=77361069f64125ebf8609a9fd2703e90de6f413b5c7856fd962f5f5ae1720b3f
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_MARKETPLACE_PROGRAM_ID=NqQ2fJ6TzMn44wdkKGGCT71P7nJggZSp4qoqZPWfJTW
NEXT_COINGECKO_API_KEY=CG-oCDpirKhji558BDW1EiqqCCv
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_WHISKEY_PROGRAM_ID=68iiLsi736PMxTYoS8Lbgczk1odiLzyAkb6y2sm5TtnD
NEXT_PUBLIC_LENDING_PROGRAM_ID=25HNJoG1kZpLHT7B94LHbpGjV2BtBPcSfQgCkLSrxYVZ
NEXT_PUBLIC_WHISKEY_TOKEN_MINT=FuXejqzRAWWkoAcNrDU8L2i6cXXmB5NwqAVp2daN456j
NEXT_PUBLIC_USDC_TOKEN_MINT=5J93GBjngJnZtJoTbdTuSFjqEciQpVVLxMwHmjF1UvAR
NEXT_PUBLIC_ADMIN_WALLET=2VERvChaga6hFBBMFaEzTYpXPgyBo2zbRFuMCVXf1Mhk
NEXT_PUBLIC_TREASURY_WALLET=2VERvChaga6hFBBMFaEzTYpXPgyBo2zbRFuMCVXf1Mhk
NEXT_PUBLIC_LENDING_POOL_CONFIG=53fYDhvsfCJYMx6eTbjn92N35YDwTShQy8KM3X2yP2GN
NEXT_PUBLIC_LENDING_POOL_WHISKEY_VAULT=FBK8xP4xYuEv1JvCkkvhCKkTtu9M2xXnyihuqSDRAhCS
# VAULT ARCHITECTURE - CORRECTED
# Lending Program's Capital Vault (MAIN LENDING CAPITAL - LENDING PROGRAM OWNS)
NEXT_PUBLIC_LENDING_CAPITAL_VAULT=He84QophgrA8GCQTGjkLkUi5qjKCF5Qmrb4Q6Nrt3jL9

# Whiskey Program's Intermediate USDC Vault (WHISKEY PROGRAM OWNS)  
NEXT_PUBLIC_LENDING_POOL_USDC_VAULT=GJkRmDnhHPLH24MHEGsZoiTm9xveyememDJA5JA6dsgm
NEXT_PUBLIC_GLOBAL_MARKET_PDA=5WYm2YmxdQKHdGTJmvyZ1bmXsyZE2eJGJHPaQP5mopq7
NEXT_PUBLIC_BASE_URL=http://localhost:3000