MONGODB_URI="mongodb+srv://Arucard:Jeffrey100@cluster0.jhhmvwx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SOLANA_RPC_URL="https://api.devnet.solana.com"
SESSION_SECRET=your_very_strong_random_secret_password_at_least_32_characters_long
ADMIN_USERNAME=Arkyan
ADMIN_DEFAULT_PASSWORD=planetWhiskeyNfts2025
PINATA_API_KEY=358ccccf0244a4944980
PINATA_SECRET_API_KEY=77361069f64125ebf8609a9fd2703e90de6f413b5c7856fd962f5f5ae1720b3f
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_COINGECKO_API_KEY=CG-oCDpirKhji558BDW1EiqqCCv
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_LENDING_PROGRAM_ID=4WbpwjHn44TZmcd6m8Ee2hktgEgVNBx6imCqfjZyxNg6
NEXT_PUBLIC_WHISKEY_PROGRAM_ID=Y5ZTxmgfR51njNPjHRm9WYzbmvoG4uptaQnHupdKbFM
NEXT_PUBLIC_MARKETPLACE_PROGRAM_ID=E9rdfVCukatP1LxyMun3mnw28pprwpTJtzkqtw1YVQ7n
NEXT_PUBLIC_WHISKEY_TOKEN_MINT=6ebFhcM7zXtmrNa6Nod6YRNhtH4tgC5YheHTwwBW8Nfu
NEXT_PUBLIC_USDC_TOKEN_MINT=4Cft5hME2qFcMkSKV1389QXtMSprrxYewsEGnj7usWHP
NEXT_PUBLIC_ADMIN_WALLET=2VERvChaga6hFBBMFaEzTYpXPgyBo2zbRFuMCVXf1Mhk
NEXT_PUBLIC_TREASURY_WALLET=2VERvChaga6hFBBMFaEzTYpXPgyBo2zbRFuMCVXf1Mhk
NEXT_PUBLIC_LIQUIDATION_AUTHORITY=CovQMQXvxQv4zNfXG5YgxpjznQL6JmEg4hymDV23rDE4
NEXT_PUBLIC_GLOBAL_MARKET_PDA=FjD7T2FtUXT88i3fC35xmgF2uVxLrmgoyRCbYso8NHZA
NEXT_PUBLIC_LENDING_CAPITAL_VAULT=FzGtqNEZdQLvW3jxKVgx4C6gXHLd2RSAXxnbYy8RypSt
NEXT_PUBLIC_COLLECTION_REGISTRY_V2=2SAMqbNK33iXGHzA3wAVZLjYEb4xci5yRsbXQNs94N1t
NEXT_PUBLIC_LENDING_POOL_CONFIG=8mJpwHQtmkQyQrCp7RPYspRhXikkNzCr4XLuw5exP2Ew
NEXT_PUBLIC_LENDING_POOL_WHISKEY_VAULT=2T9qnehtLF2SNtTHpE1Do9CBdhfs5wWYmXLUej1tUJWW
NEXT_PUBLIC_LENDING_POOL_USDC_VAULT=3uBVbeg8fPBjr2bWsMEExXRxkGNkWNuUkHFB22CPGVVS
NEXT_PUBLIC_BASE_URL=http://localhost:3000